body {
  background-color: beige;
}
h1 {
  text-align: center;
  font-size: 80px;
}
h2 {
  text-align: center;
  font-size: 70px;
}
p {
  text-align: center;
  margin: 15px;
}
a {
  text-decoration: none;
  color: brown;
}
.img {
  width: 100%;
}
